.ammo-result {
  background-color: #fff5e6; /* light parchment */
  border-left: 5px solid #8d4b00;
  padding: 0px 0px 10px 10px; /* top, right, bottom, left */
  margin-top: 10px;
  text-align: left;
}

.rarity {
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 20px;
    text-indent: 0px;
}

.Common { color: black; }
.Uncommon { color: green; }
.Rare { color: blue; }
.Very.Rare { color: purple; }
.Legendary { color: orange; }

.italic {
  font-style: italic;
}

.output-line {
  margin: 5px 0; /* Uniform vertical margin */
  line-height: 1.2; /* Optional: Adjust line height */
}

.parchment-bg {
  background:
    #f4ecd8 url('https://cdn.pixabay.com/photo/2015/06/19/21/24/old-814651_960_720.jpg') center center / cover no-repeat;
  color: #2e2b20; /* Dark text for contrast */
  font-family: 'Georgia', serif;
  border: 1px solid #a68b5b;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#placeholder-text {
  color: #3f29008f; /* Tailwind's gray-500 */
  font-style: italic;
  font-size: 2rem; /* roughly text-xl */
  align-items: center;         /* vertical centering */
  justify-content: center;     /* horizontal centering */
  text-align: center;
  padding: 150px 0px 10px 10px; /* top, right, bottom, left */
}